@model  IEnumerable<Shopping_Card.Web.Models.ViewModel.OrderViewModel>
@{
    ViewData["Title"] = "GetAllOrders";
}

<h2>GetAllOrders</h2>
<div class="container">
    <div class="form-group">
        <table class="table-bordered">
            <tr class="table">
                <th>Order Id</th>
                <th>Date</th>
                <th>Customer Id</th>
            </tr>
            @foreach (var x in Model)
            {
            <tr class="table">
                <td>@x.Id</td>
                <td>@x.Date</td>
                <td>@x.CustomerId</td>
                <td><a class="btn btn-success" asp-controller="Order" asp-action="GetOrdersById" asp-route-id="@x.Id">Order Items</a></td>
                <td><a class="btn btn-danger" asp-controller="Order" asp-action="RemoveOrders" asp-route-id="@x.Id">Delete</a></td>
            </tr>
            }
        </table>
    </div>
</div>    
